<aside class="h-[100dvh] bg-base-300 relative border-r-3 border-base-100" id="drawer">
    <div class="w-[100%] min-w-[250px] h-[100%] p-3 flex flex-col gap-3">

        <section class="flex justify-between items-center border-b-1 border-base-100 pb-3">
            <h2 class="text-lg font-medium mx-3 opacity-90">Channels</h2>
            <button class="btn btn-square btn-ghost" id="hide-drawer">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"
                    class="inline-block h-5 w-5 stroke-current fill-current">
                    <path
                        d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z">
                    </path>
                </svg>
            </button>
        </section>

        <section class="flex items-center rounded-md p-3 hover:bg-base-100 hover:cursor-pointer" id="add-channel">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="inline-block h-5 w-5 stroke-current fill-current">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <p class="text-sm mx-3 font-medium">New Channel</p>
        </section>


        <dialog id="channelModal" class="modal">
            <div class="modal-box max-w-[300px]">
                <div class="flex justify-between">
                    <h3 class="text-lg font-medium mb-3">New Channel</h3>
                </div>

                <fieldset class="fieldset mb-3">
                    <legend class="fieldset-legend opacity-25">Channel Name</legend>
                    <input type="text" class="input" id="name" placeholder="Channel 1" />
                    <p class="label">Channel name is required!</p>
                </fieldset>

                <fieldset class="fieldset mb-3">
                    <legend class="fieldset-legend opacity-25">Code</legend>
                    <div class="flex justify-start items-end gap-x-2 overflow-x-auto" id="code">
                        <input type="number" maxlength="1" class="input input-bordered text-center w-12 h-12" />
                        <span class="font-bold">.</span>
                        <input type="number" maxlength="1" class="input input-bordered text-center w-12 h-12" />
                        <span class="font-bold">.</span>
                        <input type="number" maxlength="1" class="input input-bordered text-center w-12 h-12" />
                        <span class="font-bold">.</span>
                        <input type="number" maxlength="1" class="input input-bordered text-center w-12 h-12" />
                    </div>
                    <p class="label">Code is required!</p>
                </fieldset>

                <div class="modal-action gap-0">
                    <button class="btn btn-primary submit">Submit</button>
                </div>
            </div>

            <form method="dialog" class="modal-backdrop"><button class="modal-close"></button></form>
        </dialog>

        <div class="flex-grow-1 overflow-y-auto pb-[32px]">
            <ul class="menu rounded-box w-[100%] p-0">
                <li>
                    <h2 class="menu-title">History</h2>
                    <ul id="channel-list">
                        <li>
                            <div class="flex flex-row justify-between py-3 item" data-code="{{code}}">
                                <div>
                                    <h2 class="text-base font-medium">{{label}}</h2>
                                    <span class="text-xs opacity-50">{{code}}</span>
                                </div>
                                <button type="button" class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        class="w-5 h-5 stroke-red-600 fill-transparent transition-all hover:scale-[1.1] hover:stroke-red-400 cursor-pointer">
                                        <path
                                            d="M9 3H15M4 6H20M6 6V19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V6M10 10V17M14 10V17"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        </li>
                        <li class="active">
                            <div class="flex flex-row justify-between py-3 item">
                                <div>
                                    <h2 class="text-base font-medium">{{label}}</h2>
                                    <span class="text-xs opacity-50">{{code}}</span>
                                </div>
                                <button type="button" class="disconnect-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471 472"
                                        class="w-5 h-5 transition-all hover:scale-[1.1] cursor-pointer">
                                        <g>
                                            <path class="fill-current"
                                                d="M 183.5,163.5 C 184.924,161.485 185.59,159.152 185.5,156.5C 189.573,144.357 195.74,133.357 204,123.5C 225.167,102.333 246.333,81.1667 267.5,60C 302.65,32.1447 339.983,29.1447 379.5,51C 414.734,76.0056 427.901,109.839 419,152.5C 414.856,167.127 407.856,180.127 398,191.5C 377.167,212.333 356.333,233.167 335.5,254C 328.173,260.152 320.173,265.318 311.5,269.5C 311.167,269 310.833,268.5 310.5,268C 311.925,262.094 312.591,256.094 312.5,250C 311.93,240.768 311.097,231.601 310,222.5C 330.333,202.167 350.667,181.833 371,161.5C 383.376,142.614 384.709,122.947 375,102.5C 357.826,78.8392 335.326,71.6725 307.5,81C 303.833,83.3333 300.167,85.6667 296.5,88C 272.94,110.892 250.107,134.392 228,158.5C 215.603,184.663 219.936,207.663 241,227.5C 250.245,241.655 250.745,256.155 242.5,271C 240.833,271.667 239.167,271.667 237.5,271C 196.415,250.188 177.915,216.688 182,170.5C 182.44,168.134 182.94,165.801 183.5,163.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 168.5,166.5 C 169.586,166.62 170.253,167.287 170.5,168.5C 169.131,173.404 168.464,178.404 168.5,183.5C 168.981,193.339 170.148,203.006 172,212.5C 161.653,223.014 151.153,233.348 140.5,243.5C 138.116,241.115 135.45,239.115 132.5,237.5C 131.898,231.877 131.898,226.211 132.5,220.5C 128.771,219.987 125.104,219.154 121.5,218C 120.978,217.439 120.645,216.772 120.5,216C 123.197,210.105 126.031,204.272 129,198.5C 140.618,185.695 153.784,175.028 168.5,166.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 98.5,206.5 C 97.5386,204.735 97.2053,202.735 97.5,200.5C 97.3512,193.059 98.1845,185.725 100,178.5C 102.808,182.145 104.975,186.145 106.5,190.5C 104.334,196.165 101.668,201.498 98.5,206.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 70.5,215.5 C 72.8333,216.167 75.1667,216.833 77.5,217.5C 70.1979,219.713 62.8645,221.713 55.5,223.5C 54.5,220.167 53.5,216.833 52.5,213.5C 58.5101,214.094 64.5101,214.76 70.5,215.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 91.5,234.5 C 93.7659,234.141 95.5993,234.808 97,236.5C 98.1667,241.333 99.3333,246.167 100.5,251C 100.167,251.5 99.8333,252 99.5,252.5C 91.947,248.564 84.947,243.898 78.5,238.5C 83.0617,237.532 87.395,236.199 91.5,234.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 149.5,262.5 C 146.5,263.833 143.5,263.833 140.5,262.5C 140.989,259.533 142.155,256.867 144,254.5C 146.054,257.047 147.887,259.714 149.5,262.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 79.5,269.5 C 78.5489,270.919 78.2155,272.585 78.5,274.5C 80.4147,274.784 82.0813,274.451 83.5,273.5C 86.8333,273.5 90.1667,273.5 93.5,273.5C 94.3511,278.225 95.5178,282.892 97,287.5C 100.599,288.534 104.099,289.867 107.5,291.5C 101.709,305.37 96.2091,319.37 91,333.5C 87.4906,364.612 100.324,385.446 129.5,396C 152.789,400.091 171.622,392.924 186,374.5C 190.505,364.825 195.005,355.158 199.5,345.5C 204.791,341.952 210.458,340.285 216.5,340.5C 218.914,344.743 222.081,348.076 226,350.5C 230.2,349.828 234.367,348.994 238.5,348C 233.892,346.518 229.225,345.351 224.5,344.5C 223.657,339.462 222.657,334.462 221.5,329.5C 215.491,329.666 209.491,329.499 203.5,329C 218.667,313.833 233.833,298.667 249,283.5C 263.797,262.36 264.13,241.027 250,219.5C 234.767,205.799 230.1,189.133 236,169.5C 236.641,167.187 237.974,165.52 240,164.5C 270.252,176.419 289.586,198.086 298,229.5C 303.444,257.949 297.777,283.949 281,307.5C 268.029,321.471 254.696,335.138 241,348.5C 236.333,359.833 231.667,371.167 227,382.5C 209.485,417.529 180.985,435.862 141.5,437.5C 95.9774,434.482 66.4774,411.149 53,367.5C 48.8653,348.523 49.8653,329.856 56,311.5C 63.3848,293.062 71.0515,274.729 79,256.5C 79.499,260.821 79.6657,265.154 79.5,269.5 Z" />
                                        </g>
                                        <g>
                                            <path class="fill-current"
                                                d="M 125.5,282.5 C 129.728,285.561 133.061,289.394 135.5,294C 133.209,298.078 130.542,301.911 127.5,305.5C 126.599,297.848 125.932,290.181 125.5,282.5 Z" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>

    <div class="absolute bottom-0 left-0 w-[100%] bg-base-200 p-3">
        <p class="text-center text-nowrap text-sm">
            Made with 😋 by
            <a class="link link-info link-hover font-bold" href="https://github.com/fami0110"
                target="_blank">fami0110</a>
        </p>
    </div>
</aside>