<div class="flex-grow-1 h-[calc(100dvh-64px)] flex flex-col justify-between">
    <div class="flex-grow-1 p-3 overflow-y-auto max-h-[calc(100dvh-130px)]" id="chat">
        <%- include('bubles') %>
    </div>

    <div class="bg-base-200 flex items-end p-3 gap-3 flex-nowrap">
        <div class="dropdown dropdown-top" id="message-types">
            <div tabindex="0" role="button" class="transition-all hover:scale-[1.2] px-2 py-[6px] cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" width="28" height="28"
                    stroke-linecap="round" stroke-linejoin="round" class="stroke-current fill-current">
                    <line x1="12" y1="5" x2="12" y2="19" />
                    <line x1="5" y1="12" x2="19" y2="12" />
                </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu gap-1 bg-base-200 rounded-box w-max p-3 bottom-px mb-6 text-md" id="switch-actions">
                <li>
                    <div class="py-[10px] flex justify-start gap-3 menu-active" 
                        data-target="action-text">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256"
                        class="fill-sky-500">
                            <g transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                <path d="M 80.071 14.56 H 9.929 C 4.454 14.56 0 19.014 0 24.489 v 41.505 c 0 5.476 4.454 9.93 9.929 9.93 h 3.57 l 9.272 9.271 c 0.585 0.586 1.354 0.879 2.121 0.879 s 1.536 -0.293 2.121 -0.879 l 9.272 -9.271 h 43.786 c 5.475 0 9.929 -4.454 9.929 -9.93 V 24.489 C 90 19.014 85.546 14.56 80.071 14.56 z M 69.381 55.4 H 20.619 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 48.762 c 1.657 0 3 1.343 3 3 S 71.038 55.4 69.381 55.4 z M 69.381 41.083 H 20.619 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 48.762 c 1.657 0 3 1.343 3 3 S 71.038 41.083 69.381 41.083 z"/>
                            </g>
                        </svg>
                        <p>Text Message</p>
                    </div>
                </li>
                <li>
                    <div class="py-[10px] flex justify-start gap-3" 
                        data-target="action-voice">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256"
                            class="fill-fuchsia-500">
                            <g transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" class="fill">
                                <path d="M 45 70.968 c -16.013 0 -29.042 -13.028 -29.042 -29.042 c 0 -1.712 1.388 -3.099 3.099 -3.099 c 1.712 0 3.099 1.388 3.099 3.099 C 22.157 54.522 32.404 64.77 45 64.77 c 12.595 0 22.843 -10.248 22.843 -22.843 c 0 -1.712 1.387 -3.099 3.099 -3.099 s 3.099 1.388 3.099 3.099 C 74.042 57.94 61.013 70.968 45 70.968 z"/>
                                <path d="M 45 60.738 L 45 60.738 c -10.285 0 -18.7 -8.415 -18.7 -18.7 V 18.7 C 26.3 8.415 34.715 0 45 0 h 0 c 10.285 0 18.7 8.415 18.7 18.7 v 23.337 C 63.7 52.322 55.285 60.738 45 60.738 z"/>
                                <path d="M 45 89.213 c -1.712 0 -3.099 -1.387 -3.099 -3.099 V 68.655 c 0 -1.712 1.388 -3.099 3.099 -3.099 c 1.712 0 3.099 1.387 3.099 3.099 v 17.459 C 48.099 87.826 46.712 89.213 45 89.213 z"/>
                                <path d="M 55.451 90 H 34.549 c -1.712 0 -3.099 -1.387 -3.099 -3.099 s 1.388 -3.099 3.099 -3.099 h 20.901 c 1.712 0 3.099 1.387 3.099 3.099 S 57.163 90 55.451 90 z"/>
                            </g>
                        </svg>
                        <p>Voice Message</p>
                    </div>
                </li>
                <li>
                    <div class="py-[10px] flex justify-start gap-3" 
                        data-target="action-livetext">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 202" width="23" height="20"
                            class="fill-amber-500">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M147.342 0.750732C162.254 0.750732 174.342 12.839 174.342 27.7507V148.049C174.342 162.96 162.254 175.049 147.342 175.049H103.231L79.5033 198.776C75.5981 202.681 69.267 202.681 65.3617 198.776L41.6342 175.049H27.0424C12.1307 175.049 0.0423584 162.96 0.0423584 148.049V27.7507C0.0423584 12.839 12.1307 0.750733 27.0424 0.750732H147.342ZM51.1136 99.5623C46.4554 99.5624 42.6791 103.339 42.6791 107.997C42.6791 112.655 46.4553 116.431 51.1136 116.431H123.271C127.929 116.431 131.705 112.655 131.705 107.997C131.705 103.339 127.929 99.5623 123.271 99.5623H51.1136ZM51.1136 59.3679C46.4555 59.3682 42.6791 63.1442 42.6791 67.8025C42.6792 72.4606 46.4555 76.2368 51.1136 76.2371H123.271C127.929 76.2371 131.705 72.4608 131.705 67.8025C131.705 63.1441 127.929 59.3679 123.271 59.3679H51.1136Z"/>
                            <path d="M243.309 152.684C243.309 150.127 244.322 147.577 246.329 145.689C261.831 131.079 270.37 111.379 270.37 90.213C270.37 69.0472 261.832 49.3454 246.33 34.7388C242.465 31.1012 242.286 25.0177 245.927 21.1542C249.566 17.2908 255.65 17.1114 259.511 20.7506C278.909 39.0268 289.591 63.6957 289.591 90.213C289.591 116.729 278.909 141.398 259.513 159.675C255.65 163.316 249.569 163.135 245.928 159.273C244.178 157.417 243.309 155.048 243.309 152.684Z"/>
                            <path d="M219.547 129.258C219.547 126.701 220.561 124.151 222.567 122.263C231.524 113.82 236.459 102.438 236.459 90.2129C236.459 77.9882 231.524 66.606 222.567 58.1647C218.705 54.5255 218.522 48.442 222.165 44.5801C225.804 40.7166 231.886 40.5372 235.749 44.1764C248.602 56.2874 255.68 72.6367 255.68 90.2129C255.68 107.789 248.602 124.14 235.749 136.249C231.886 139.89 225.805 139.709 222.165 135.847C220.414 133.991 219.547 131.622 219.547 129.258Z"/>
                            <path d="M189.083 90.2081C189.083 98.7953 196.044 105.757 204.632 105.757C213.219 105.757 220.18 98.7953 220.18 90.2081C220.18 81.621 213.219 74.6598 204.632 74.6598C196.044 74.6598 189.083 81.621 189.083 90.2081Z"/>
                        </svg>
                        <p>Live Text Message</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="flex-grow-1 flex items-end gap-3 flex-nowrap" id="action-text">
            <textarea class="textarea resize-none field-sizing-content flex-grow-1 h-[40px] min-h-[40px] max-h-[200px]"
                placeholder="Blablablabla..."></textarea>
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="24" height="24">
                    <g>
                        <path fill="white"
                            d="M 29.5,31.5 C 35.3685,31.048 41.0352,31.8813 46.5,34C 89.6202,53.7265 132.62,73.7265 175.5,94C 181.559,98.5635 183.059,104.397 180,111.5C 178.127,113.709 175.96,115.542 173.5,117C 129.061,137.887 84.3947,158.22 39.5,178C 30.3987,180.241 24.8987,176.741 23,167.5C 22.3333,154.167 22.3333,140.833 23,127.5C 24.6374,125.19 26.804,123.69 29.5,123C 49.1367,118.873 68.8034,114.873 88.5,111C 93.218,109.551 94.718,106.385 93,101.5C 91.8289,100.107 90.3289,99.2735 88.5,99C 68.8607,94.8721 49.194,90.8721 29.5,87C 27.1523,86.6541 25.3189,85.4875 24,83.5C 22.3691,69.5941 22.0358,55.5941 23,41.5C 24.2123,37.4718 26.379,34.1385 29.5,31.5 Z" />
                    </g>
                </svg>
            </button>
        </div>

        <div class="flex-grow-1 flex items-end gap-3 flex-nowrap hide" id="action-voice">
            <label class="input border-none flex-grow-1 cursor-default">
                <p class="grow opacity-25">Press the button to start recording</p>
                <span class="badge badge-soft badge-error text-medium hide">00:00</span>
            </label>
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81 81" width="20" height="20"
                    class="fill-red-500 icon-record">
                    <path d="M40.7593 12.8287C55.7993 12.8287 67.9917 25.1406 67.9917 40.3278C67.9914 55.5147 55.7991 67.8258 40.7593 67.8258C25.7196 67.8256 13.5281 55.5146 13.5278 40.3278C13.5278 25.1407 25.7195 12.8289 40.7593 12.8287Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.7603 0.430298C62.7946 0.43043 80.6567 18.2934 80.6567 40.3278C80.6565 62.3619 62.7945 80.2241 40.7603 80.2242C18.7259 80.2242 0.863057 62.362 0.862793 40.3278C0.862793 18.2933 18.7258 0.430298 40.7603 0.430298ZM40.7603 7.35022C22.5475 7.35022 7.78271 22.115 7.78271 40.3278C7.78298 58.5403 22.5476 73.3043 40.7603 73.3043C58.9728 73.3043 73.7375 58.5403 73.7378 40.3278C73.7378 22.115 58.973 7.35029 40.7603 7.35022Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  width="20" height="20"
                    class="fill-red-500 icon-stop hide">
                    <rect x="2" y="2" width="20" height="20" />
                </svg>
            </button>
        </div>

        <div class="flex-grow-1 flex items-end gap-3 flex-nowrap hide" id="action-livetext">
            <textarea class="textarea resize-none field-sizing-content flex-grow-1 h-[40px] min-h-[40px] max-h-[200px] border-red-500"
                placeholder="Press the button to start live message..." disabled></textarea>
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81 81" width="20" height="20"
                    class="fill-red-500 icon-record">
                    <path d="M40.7593 12.8287C55.7993 12.8287 67.9917 25.1406 67.9917 40.3278C67.9914 55.5147 55.7991 67.8258 40.7593 67.8258C25.7196 67.8256 13.5281 55.5146 13.5278 40.3278C13.5278 25.1407 25.7195 12.8289 40.7593 12.8287Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.7603 0.430298C62.7946 0.43043 80.6567 18.2934 80.6567 40.3278C80.6565 62.3619 62.7945 80.2241 40.7603 80.2242C18.7259 80.2242 0.863057 62.362 0.862793 40.3278C0.862793 18.2933 18.7258 0.430298 40.7603 0.430298ZM40.7603 7.35022C22.5475 7.35022 7.78271 22.115 7.78271 40.3278C7.78298 58.5403 22.5476 73.3043 40.7603 73.3043C58.9728 73.3043 73.7375 58.5403 73.7378 40.3278C73.7378 22.115 58.973 7.35029 40.7603 7.35022Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  width="20" height="20"
                    class="fill-red-500 icon-stop hide">
                    <rect x="2" y="2" width="20" height="20" />
                </svg>
            </button>
        </div>
    </div>
</div>