<!DOCTYPE html>
<html lang="en" data-theme="default">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="OMASCe - Obviously the Most Anonymous and (less) Secure Chat Ever (i've build:v)">
  <meta name="author" content="masandofami@gmail.com">
  
  <title>OMASCe</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <link rel="stylesheet" href="css/output.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="flex">
    <!-- Drawer -->
    <%- include('partials/drawer')  %>

    <!-- Main Contents -->
    <main class="flex-grow-1 flex flex-col justify-between relative overflow-hidden">
      <%- include('partials/navbar') %>
      
      <%- include('partials/overlay')  %>
    
      <%- include('partials/main')  %>
    </main>

  </div>

  <!-- Audios -->
  <audio id="notif-sfx" src="assets/notif.mp3" hidden preload></audio>
  <audio id="send-sfx" src="assets/send.mp3" hidden preload></audio>
  <audio id="connect-sfx" src="assets/connect.mp3" hidden preload></audio>
  <audio id="disconnect-sfx" src="assets/disconnect.mp3" hidden preload></audio>

  <!-- Plugins -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/plugin/swal.min.js"></script>
  <script src="js/plugin/wavesurfer.min.js"></script>
  
  <!-- Scripts -->
  <script src="js/misc.js"></script>
  <script src="js/Chat.js"></script>
  <script src="js/main.js"></script>
</body>

</html>