#drawer {
    width: 0;
    min-width: 0;
    overflow: hidden;
    transition: min-width 0.3s ease-out;

}

#drawer.active {
    max-width: 80vw;
    min-width: 300px;
}

.hide {
    display: none !important;
}

@media (max-width: 768px) {
    #drawer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

#code input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

#channel-list li.active > * {
    background-color: hsla(47, 99%, 59%, 0.2) !important;
    cursor: default;
}

@supports not (field-sizing: content) {
    #actions textarea {
        height: 40px !important;
    }
}

/* #chat {
    z-index: -9 !important;
} */

.chat-header {
    text-indent: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: medium;
}

.chat-bubble {
    max-width: max(400px, 40%);

    img {
        width: 100%;
        max-width: 400px;
        border-radius: var(--radius-field);
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.chat-start .chat-bubble:before {
    inset-inline-start: -.50rem !important;
}

.notif b {
    color: var(--color-primary) !important;
}

#chat {
    .mockup-code code {
        padding: unset;
        background-color: unset;
        border: unset;
        border-radius: unset;
    }
    code {
        display: inline-block;
        padding: .3em .6em;
        background-color: var(--color-base-200);
        border: var(--border)solid color-mix(in srgb,var(--color-base-content)20%,#0000);
        border-radius: var(--radius-field);
    }
}

.form-error {
    border-color: oklch(71% .194 13.428);
    animation: shake 0.6s linear 1;
}

.wave-container {
    width: min(300px, 50vw);
}

@supports (field-sizing: content) {
    .field-sizing-content {
        height: unset !important;
    }
}

@keyframes shake {
    0%,100% {
        transform: translateX(0);
    }
    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }
    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}

#overlay {
    transition: top ease-in-out 0.8s;
    z-index: 9 !important;

    &.closed {
        top: 100% !important;
    }
}

.swal2-container:has(.swal2-toast) {
    transform: translate(-1rem, 4.5rem);
}

.swal2-toast,
.swal2-popup {
    background-color: var(--color-base-100) !important;
    color: currentColor !important;
}

.swal2-timer-progress-bar {
    background-color: currentColor !important;
}

.swal2-toast {
    max-width: min(340px, 92%) !important;

    .swal2-title {
        font-size: 1rem !important;
    }
}

#channelModal .label {
    &:not(.text-error) {
        display: none !important;
    }

    &.text-error {
        animation: shake 0.6s linear 1;
    }
}